.user-container{
    background-color: rgb(228, 178, 113);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 1.5rem;
    margin: 1rem;
}


#user-img{
    height: 150px;
    width: 150px;
    /* border-radius: 50%; */
}